<h1>Compare Compiled Output</h1>

<div class="examples">
  <div>
    `js-placeholders` component:

    {{js-placeholders}}
  </div>
  <div>
    `hbs-placeholders` component:

    {{hbs-placeholders}}
  </div>
</div>























<div class="links">
  <h2>Useful links:</h2>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=nXCSloXZ-wc">ReactiveConf 2017 - Tom Dale: Secrets of the Glimmer VM

</a>
    </li>
  </ul>
</div>
